<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django app
        {% endblock %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        {% if request.session.user_data %}
            <div class="topnav-left">
                <a href="/" class="nav-btn">Dashboard</a> |
                <a href="{% url 'inventory:store' %}" class="nav-btn">Store Inventory</a> |
                <a href="{% url 'shipments:storeShipments' %}" class="nav-btn">Store Shipments</a>
            </div>
            <div class="topnav-right">
                <a href="{% url 'users:sign_out' %}" class="nav-btn">Sign Out</a> |
                <img class="user-avatar" src="{{ request.session.cached_picture }}" alt="User picture"/>
            </div>
        {% else %}
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>