{% extends "layout.html" %}

{% block title %}
    User login
{% endblock %}

{% block content %}
<div class="container">
  {% if request.session.user_data %}
  <div>
    <p>Hi {{ request.session.user_data.given_name }} 🙂</p>
    <p>Your email is {{ request.session.user_data.email }}</p>
    <img src="{{ request.session.user_data.picture }}" alt="User picture" />
    <p>Click here to <a href="{% url 'users:sign_out' %}">Sign out</a></p>
  </div>
  {% else %}
  <div>
    <p>Hi there 🙂</p>
    <p>Click below to sign in with Google</p>
    <div id="g_id_onload"
        data-client_id="282633199150-c41bv8f7piu9sodcu6675mae18gqha67.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:8000/users/auth-receiver"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin google-btn"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
  </div>
  {% endif %}
</div>

<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}